/* Montserrat Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Source Sans 3 Font*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* Poppins 3 Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Source Sans 3", sans-serif;
    --third-font: "Poppins", sans-serif;
    --local-bg-primary: #F7F7F7;
}

/* Componts */
body,
html {
    overflow-x: hidden !important;
}

p {
    margin-top: initial;
    margin-bottom: initial;
}

li {
    list-style: none;
}

.happen a {
    text-decoration: none;
    color: inherit;
}

.color-paragraph {
    color: #555;
}

.local-bg-primary {
    background-color: #F7F7F7;
} 

.button_primary:hover{
    background-color: #ff004d !important;
    border-color: transparent !important;
    color: white !important;
}


/*============ HEADER ============*/
header {
    font-family: var(--primary-font);
    position: absolute;
    top: 70px ;
}

.color-primary {
    color: #ff004d;
}

.nav-link {
    font-size: 15px;
    color: #ddd !important;
}

.nav-link.active {
    color: #ff004d !important;
}

.nav-link:hover {
    color: #ff004d !important;
}

.bg-primary {
    background-color: #ff004d;
}

.info-contact,
.login-register {
    font-size: 13px;
}

.navbar-toggler.active #toggle_on {
    display: none;
}

.navbar-toggler #toggle_off {
    display: none;
}

.navbar-toggler.active #toggle_off {
    display: block;
    font-size: 4;
}

@media(max-width: 992px){
    header .navbar-brand img.logo-lg {
        width: 100px !important;
    }
}

@media(max-width: 767px) {
    .topbar {
        position: relative !important;
        background-color: #cccccc !important;
        color: #555 !important;
    }
    header {
        background-color: #ff004d;
        top: 36px;
    }
    header ul {
        background-color: white;
    }
    header ul .nav-link {
        color: #555 !important;
    }
}

@media (min-width: 768px) {
    .text-md-light {
        color: #f8f9fa; 
    }
    header ul li.border-bottom {
        border-bottom: none !important;
    }
}

/*============ HOME ============*/
.home {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) ,url("../images/slider1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--primary-font);
}

.home h1 {
    font-family: var(--secondary-font);
}

@media (min-width: 992px) {
    .home h1 {
        font-size: 46px;
    }
}

@media (max-width: 767px) {
    .home  {
        height: 80vh !important;
    }
}

/*============ ABOUT ============*/
.about h1 {
    font-family: var(--third-font);
}

.about h2,
.about p {
    font-family: var(--primary-font);
}

.about .row div:first-of-type p {
    color: #888;
}

.about .event-info {
    border: 10px solid var(--local-bg-primary);
}

.about .event-info a {
    padding: 10px 20px;
}

/*============ SPEAKER ============*/
.speaker h2 {
    font-family: var(--third-font);
}

.speaker .card {
    transition: 0.4s;
}

.speaker .card:hover{
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
}

.speaker .social-links a {
    transition: 0.3s;
}

.speaker .social-links a:hover {
    background-color: #ff004d;
}

.speaker .social-links a:hover svg {
    color: white !important;
}

/*============ EVENTS ============*/
.events .info-text,
.events .event-content {
    transition: 0.2s;
}

.events .event-content:hover {
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
}

.events .info-text:hover {
    color: #ff004d;
}

/*============ UPDATE ============*/
.update .container > div:first-of-type{
    border: #a5a2a2 solid 1px !important;
}

.update .text-content {
    width: 500px;
    max-width: 100%;
}

.update h2 {
    font-family: var(--third-font);
}

@media (min-width: 992px){
    .update .container .get-apps {
        border-left:  #a5a2a2 solid 1px !important;
    }
}

@media (max-width: 768px){
    .update .stores img{
        width: 140px;
    }
}

/*============ ONGOING EVENTS ============*/
.ongoing-events {
    background-image: url("../images/background-video.webp");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--primary-font);
    position: relative;
}

.ongoing-events p {
    width: 700px;
    margin: 0 auto;
}

.ongoing-events .stop {
    display: none;
}

.ongoing-events video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
    width: 100%;
}

/*============ PRICING ============*/
.pricing {
    font-family: var(--primary-font);
}

.pricing .price {
    height: 60px;
    width: 80%;
    background-color: white;
    border: 1px solid #ccc;
    position: absolute !important;
    top: 100px;
}

@media (max-width: 575px){
    .pricing a {
        width: fit-content !important;
        padding: 16px 40px;
    }
}

/*============ NEWS ============*/
.news {
    background: rgba(0, 0, 0, 0) url("../images/call-to-bg.webp") repeat scroll 0 0 / cover;
    font-family: var(--third-font);
}

.news::before {
    content: "";
    background: #fff none repeat scroll 0 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.85;
    position: absolute;
}

.news * {
    z-index: 5;
    position: relative;
}

.news input {
    border: 1px solid black;
    width: 500px;
    max-width: 500px;
}

.news input:focus {
    outline: none;
}

/*============ INFORMATION ============*/
.information {
    font-family: var(--primary-font);
}

.information .row div p:not(:first-of-type) {
    font-size: 14px;
}

/*============ FOOTER ============*/
footer {
    background-color: #1b1b1b;
}

footer svg {
    cursor: pointer;
    transition: 0.3s;
}

footer svg:hover {
    color: #ff004d !important;
}

footer img:hover {
    cursor: pointer;
}

/* Adds a top margin when scrolling to sections */
#about,
#speaker,
#news {
    scroll-margin-top: 80px;
}